*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


.env
/env
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.log
*.pot

pip-log.txt
pip-delete-this-directory.txt

*.so

__pycache__/
*.py[cod]


*.class
.gradle/
gen/
.iws
.ipr
.iml
*.apk
*.ap_
# the Dalvik VM files
*.dex
*.jks
*.iws
.idea/libraries
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
/out/
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
